
{% extends 'base.html' %}
{% block content %}




<font size="+1" color="red">{{msg}}
</font>

      <section class="w3l-contact pb-5" id="contact">
        <div class="container pb-md-5 pb-4">
            <div class="row contact-block">
                <div class="col-lg-7 contact-right mt-5">
<form method="post" action="/userloginaction/">
	{% csrf_token %} 

                    <h3 class="title-style mb-4 pb-2">User Login</h3>
                        <div class="input-grids">
                            <input type="text" name="uid" id="w3lName" placeholder="Email*"
                                class="contact-input" required="" />
     
                            <input type="password" name="pwd" id="w3lSubect" placeholder="Password*"
                                class="contact-input" required="" />
                        </div>
               
                        <button class="btn btn-style mt-sm-3">Login</button>
                    </form>

</form>
</center>
</div></div></div></div>

{% endblock %}